# dependencies
node_modules/

# environment variables
.env

# logs
logs/
*.log

# uploads/temp
uploads/
tmp/

# build files
dist/
build/

# editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db